/* Placement */
#themes-tab,
#plugins-tab {
	display: grid;
	grid-template-areas:
		"title title title"
		"search counter controls"
		"addons addons addons";
	min-height: unset;
}

#themes-tab:after,
#plugins-tab:after {
	grid-area: counter;
}

.bd-addon-controls:not(#a) {
	display: contents;
}

.bd-settings-title {
	grid-area: title;
}

.bd-search-wrapper {
	grid-area: search;
}

.bd-controls-advanced {
	grid-area: controls;
	justify-self: flex-end;
}

.bd-addon-list {
	grid-area: addons;
}

.bd-empty-image-container,
.bd-empty-results {
	grid-column: 1/-1;
}

/* Cosmetics*/
#themes-tab:after,
#plugins-tab:after {
	white-space: nowrap;
	align-self: flex-start;
	justify-self: flex-start;
	translate: -100%;
	height: 27px;
	box-sizing: border-box;
	color: var(--text-muted);
	background-color: var(--background-tertiary);
	font-weight: 500;
	font-family: var(--font-primary);
	font-size: 0.9rem;
	padding: 6px;
	margin-left: 0px;
	border-left: 1px solid var(--text-muted);
	border-radius: 0 3px 3px 0;
}

/* Counter Styles */
:root {
	counter-reset: activeAddonCount addonCount;
}

.bd-addon-card {
	counter-increment: addonCount;
}

.bd-switch-checked {
	counter-increment: activeAddonCount;
}

#themes-tab:after,
#plugins-tab:after {
	content: counter(activeAddonCount) " / " counter(addonCount);
	animation: f 100ms linear infinite forwards;
}

@keyframes f {
	to {
		content: counter(activeAddonCount) " / " counter(addonCount);
	}
}
