:root {
	--spotify-green: #1ed760;
	--button-disabled: #a7a7a7;
	--text-normal: #fff;
	--text-sub: #a7a7a7;
	--radius: 8px;
	--icon-size: 18px;
	--gutter: 10px;
	--font: gg sans, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic;
	--accent: #1ed760;
}

.flexCenterCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.spotify-menuitem svg {
	width: 16px;
	height: 16px;
}


/* Spotify Indicator */
.spotifyActivityIndicatorIcon {
	color: var(--spotify-green);
	vertical-align: text-bottom;
	margin: 0 0 0 0.5rem;
}

[class^="repliedMessage"] .spotifyActivityIndicatorIcon {
	margin: 0 0.25rem 0 0;
}

[class^="threadMessageAccessory"] .spotifyActivityIndicatorIcon {
	margin: 0 0.25rem 0 0.25rem;
}