
/* the great reset */
.tabs-container * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/* main */

:root {
    --gutter: 5px;
    --radius: 8px;
	--tab-min-width:180px;
	--tab-max-width:300px;
	--tab-height:30px;
}

body {
	display: flex;
	flex-direction: column;
}

#app-mount {
	transform: translate(0);
	position: static;
}

.tabs-test-container {
	flex: 0 0 auto;
	margin-left: 50px;
	background: lime;
	/* border:1px solid red; */
	/* padding: 5px; */
	/* zoom:3; */
}


/* Tabs */


.tabs-container {
	background: #1f2020;
	display: flex;
	gap: var(--gutter);
	user-select: none;
	padding: 3px;
	display: flex;
	align-items: center;
	font-size:calc(var(--tab-height) * .4);

}

.tabs-scroller{
	min-width:0;
	position:relative;
	/* background:pink; */
	/* padding:5px; */
}

.tabs-list {
	/* flex:1 0 0; */
    overflow: auto;
    scrollbar-width: none;
	/* background:red; */
    display: flex;
    gap: var(--gutter);
    align-items: center;
	height:100%;
	
}



.new-tab {
    background: #555555;
    color: white;
    border-radius: 50%;
    display: flex;
	padding:5px;
    align-items: center;
    justify-content: center;
	flex-shrink:0;
	--dims: calc(var(--tab-height)  * .8);
    width:var(--dims);
    height:var(--dims);
	cursor: pointer;
}

.left-arrow,
.right-arrow{
	z-index:99;
	position:absolute;
	background: #555555;
    color: white;
    top:50%;
	translate:0 -50%;
    display: flex;
	padding:5px;
    align-items: center;
    justify-content: center;
	flex-shrink:0;
	border-radius: calc(var(--tab-height) * .3);
   --dims: calc(var(--tab-height)  * .8);
    width:var(--dims);
    height:var(--dims);
	cursor: pointer;
}
.left-arrow{
	left:0;
	rotate:180deg;
}
.right-arrow{
	right:0;
}

.left-arrow:hover,
.right-arrow:hover,
.new-tab:hover{
	background: #686767;
}

.left-arrow:active,
.right-arrow:active,
.new-tab:active{
	background: #696969;
}



/* Tab */

.tab {
    gap: var(--gutter);
    max-width: 300px;
    min-width: 180px;
	height:var(--tab-height);
    padding: 8px;

    display: flex;
	align-items: center;
    border-radius: calc(var(--tab-height) * .3);
    color: white;
    font-family: consolas;
	position:relative;
}


.tab:not(.selected-tab):hover{
	background: #555555;
}

.tab:not(.selected-tab):active{
	background: #696969;
}

.selected-tab{
	background: #3c3c3c;
}

.tab-icon {
	width:calc(var(--tab-height) / 1.5);
    height:calc(var(--tab-height) / 1.5);
    flex: 0 0 auto;
    display: flex;
	align-items: center;
	justify-content:center;

}


.tab-icon img {
	max-width:100%;
	max-height:100%;
    border-radius: 50%;
}

.tab-icon-unknown{
	width:100%;
	height:100%;
	border-radius: 50%;
	background: #6361f8;
	padding:3px;

}

.tab-icon-unknown svg{
	max-width:100%;
	max-height:100%;
}

.tab-title {
	/* display:flex; */
	flex: 1 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	mask:linear-gradient(to right, #000 80%, #0000 98%, #0000) no-repeat;
}

.tab-close {
	flex-shrink:0;
	width:calc(var(--tab-height) / 1.5);
    height:calc(var(--tab-height) / 1.5);
	padding:5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    cursor: pointer;
    color: white;
    background: #1f2020;
}

.tab-close:hover{
	background: #696969;
}

.tab-close:active{
	background: #555555;
}