
.channel-tabs-divider{
	height:1px;
	background:
	linear-gradient(to right, #0000  0, #ccc5 25%) left center/50% no-repeat,
	linear-gradient(to left, #0000  0, #ccc5 25%) right center/50% no-repeat;
}

:root{
	--custom-app-top-bar-height:30px;
	--tab-height:30px;
	--bookmark-container-height:25px;
	--bookmark-height:25px;
	
	--active-tab-bg:#353333;
	--hover-tab-bg:#7b7b7b;
	--selected-tab-bg:#3b3b41;

	--close-btn-hover-bg:#595959;
	--close-btn-active-bg:#262626;
}

.channel-tabs-container * {
	box-sizing:border-box;
}


div:has(> .channel-tabs-container):not(#a) {
	grid-template-rows: [top] auto [titleBarEnd] min-content [noticeEnd] 1fr [end];
}

.channel-tabs-container{
	grid-column:1/-1;
	user-select: none;
	line-height:1.3; /* unify line height across weird characters */
	margin-bottom:2px;
	gap:2px;
	display:flex;
	flex-direction:column;
	
}

.channel-tabs-container > .tabbar{
	display:flex;
	-webkit-app-region: drag;
}

.bookmarks-container{
	height:var(--bookmark-container-height);
	-webkit-app-region: no-drag;
	margin-top:2px;
	/* background:red; */
	/* display:none; */
}

.bookmarks-list{
	display:flex;
	gap:2px;
}

.bookmark{
	flex:0 1 auto;
	/* min-width:100px; */
	display:flex;
	align-items:center;
	gap:5px;
	padding:0 4px;
	height:var(--bookmark-height);
	color:white;
	border-radius:5px;
	cursor: pointer;
	transform: translate(0);
}

.bookmark:hover{
	background:#353333;
}

.bookmark:active{
	background:#353333;
}

.bookmark-title{
	font-size:14px;
	color:#a7a7a7;
}

.bookmark-icon{
	flex:0 0 auto;
	display:flex;
	--d:calc(var(--tab-height) * .6);
	width:var(--d);
	height:var(--d);
	align-items:center;
	justify-content:center;
	border-radius:50%;
}

.bookmark-icon.discord-icon{
	color:white;
	background: #6361f8;
}

.tabs-container {
	display: flex;
	align-items: center;
	align-self:flex-start;
	min-width:0;
	position:relative;
	margin-right:auto;
	-webkit-app-region: no-drag;
}

.bookmarks-container svg,
.bookmarks-container img,
.tabs-container svg,
.tabs-container img {
	max-width:100%;
	max-height:100%;
}

.tabs-scroller {
	display: flex;
	min-width:0;
	position:relative;
}


.tabs-list {
	display: flex;
	overflow:auto;
	scrollbar-width:none;
	gap:5px;
}

.new-tab{
	flex:0 0 auto;
	display:flex;
	padding:2px;
	width:20px;
	height:20px;
	color:white;
	margin:0 5px;
	border-radius:50%;
}

.new-tab:hover{
	background:var(--hover-tab-bg);
}

.new-tab:active{
	background:var(--active-tab-bg);
}

.scrollBtn{
	height:var(--tab-height);
	background:#7b7b7b;
	padding:5px;
	border-radius:8px;
	z-index:99;
	position:absolute;
	top:50%;
	translate:0 -50%;
    display: flex;
    align-items: center;
    justify-content: center;
	aspect-ratio:1;
	cursor: pointer;
}

.left-arrow{
	left:0;
	rotate:180deg;
}

.right-arrow{
	right:0;
}

.scrollBtn.hidden{
	translate:-999px -999px;
}


.tab{
	flex:0 1 auto;
	min-width:150px;
	/* width:100px; */
	display:flex;
	align-items:center;
	gap:5px;
	padding:2px 8px;
	height:var(--tab-height);
	color:white;
	border-radius:5px;
	cursor: pointer;
	transform: translate(0);
}

div:has(>.contextmenu-handler){
	position:absolute;
	z-index:98;
	inset:0;
}

.dragging{
	opacity:.5;
}

.candrop{
	background:green;
}

.candrop:after{
	content:"";
	border-radius:inherit;
	position:absolute;
	inset:0;
	border:1px solid lime;
}


.tab-div{
	min-width:2px;
	background:#ccc5;
	height:calc(var(--tab-height) * .8);
	margin: auto 2px;
}

.selected-tab{
	background:var(--selected-tab-bg);
}


.tab:not(.selected-tab):hover{
	background:var(--hover-tab-bg);
}

.tab:not(.selected-tab):active:has(.tab-close:not(:active)){
	background:var(--active-tab-bg);
}

.tab-icon{
	flex:0 0 auto;
	display:flex;
	width:18px;
	height:18px;
	align-items:center;
	justify-content:center;
	border-radius:50%;
}

.bookmark-icon > svg,
.bookmark-icon > img,
.tab-icon > svg,
.tab-icon > img{
	flex:1 0 0;
	border-radius:50%;
}

.tab-icon.discord-icon{
	color:white;
	background: #6361f8;
}

.bookmark-icon.discord-icon > svg,
.tab-icon.discord-icon > svg{
	width: 65%;
	height: 65%;
}

.tab-title{
	flex:1 0 0;
	min-width:0;
	font-size:14px;
	mask:linear-gradient(to right, #000 80%, #0000 98%, #0000) no-repeat;
}

.tab-close{
	z-index:99;
	flex:0 0 auto;
	display:flex;
	padding:3px;
	width:16px;
	height:16px;
	border-radius:50%;
}

.tab-close:hover{
	background:var(--close-btn-hover-bg);
}

.tab-close:active{
	background:var(--close-btn-active-bg);
}

.ellipsis{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.channeltab-tab-contextmenu svg{
	width:18px;
	height:18px;
}

