#memUsage,
#console {
	display: inline-block;
	text-transform: none;
	position: relative;
	font-weight: bold;
	top: -5px;
	margin-left: 5px;
	cursor: pointer;
	font-size: 14px;
	font-family: "Noto Sans";
	pointer-events: auto;
	-webkit-app-region: no-drag;
}

#console:hover {
	text-decoration: underline;
	color: var(--text-normal);
}

.active {
	background: red;
}

[class^="repliedMessage"] .id {
	display: none;
}

.id {
	display: inline-block;
	font-weight: 500;
	margin: 0 0rem 0 0.5rem;
}

.shareButton:hover,
[class^=imageWrapper]:hover ~ .shareButton {
    opacity: 1;
}

.shareButton {
    padding: 6px;
    border: 0;
    opacity: 0;
    z-index: 29;
    position: absolute;
    border-radius: 5px;
    bottom: 4px;
    left: 4px;
    color:#b8b9bf;
    background-color: #303338;
}

.small {
    line-height: 20px;
    font-weight: inherit;
    font-size: 1.01em;
    white-space: nowrap;
}

.listItemTooltip-eHcnUw {
   max-width:unset;
}


.channelMuteButton{
	display:none;
	cursor:pointer;
	position:relative;
	margin-left:2px;
	padding: 6px 0;
	color: var(--interactive-normal);
}

:where(.selected-2TbFuo, .containerDefault-YUSmu3:hover) .channelMuteButton{
	display:block;
}

.channelMuteButton:hover{
	color:darkorange;
}

.channelMuteButton:active{
	color:orange;
}

.loadUnknownUser{
	background: #000;
	color:orange;
}