.tab {
	min-width:	min-content;
	max-width: calc(200 * (var(--size) / 16));
}

.selected-tab {
	background: var(--selected-tab-bg);
}

.tab:not(.selected-tab):hover {
	background: var(--hover-tab-bg);
}

.tab:not(.selected-tab):active:has(.tab-close:not(:active)) {
	background: var(--active-tab-bg);
}

.tab-title {
	flex: 1 1 0;
	min-width: 0;
	font-size:calc(var(--size) * .7);
}

.tab-close {
	flex: 0 0 calc(var(--size) * .8);
	width: calc(var(--size) * .8);
	height: calc(var(--size)* .8);
}

.tab-close  svg{
	width: 65%;
	height: 65%;
}

.tab-close:hover {
	background: var(--close-btn-hover-bg);
}

.tab-close:active {
	background: var(--close-btn-active-bg);
}

.typing-dots{
	flex:0 0 auto;
}