/* View Profile Button */
.VPP-Button {
	background: hsl(var(--black-500-hsl)/.7);
	cursor: pointer;
	display: flex;
	border-radius: 50%;
	top: 10px;
	color: #fff;
	width: 32px;
	height: 32px;
	justify-content: center;
	align-items: center;
}


.VPP-Button svg {
	height: 18px;
	width: 18px;
}

/* Popout */
.VPP-right {
	right: 12px;
}

.VPP-left {
	left: 12px;
}

.VPP-self {
	right: 48px;
}

/* Profile */
.VPP-profile {
	top: 10px;
}

.VPP-profile.VPP-right {
	right: 16px;
}

.VPP-profile.VPP-self {
	right: 58px;
}

.VPP-profile.VPP-left {
	left: 16px;
}

/* Bigger icon on profile */
.VPP-settings svg,
.VPP-profile svg {
	height: 24px;
	width: 24px;
}

.VPP-Button:hover{
	background: hsl(var(--black-500-hsl)/.85);
}

/* div replacement if No banner */
.VPP-NoBanner {
	width: 70vw;
	height: 50vh;
	position: relative;
}

/* Carousel Modal */
.VPP-carousel-modal {
	background: #0000;
	width: 100vw;
	height: 100vh;
	box-shadow: none !important;
}

.VPP-carousel {
	position: static;
	margin: auto;
}

.VPP-carousel button {
	margin: 0 15px;
	opacity: 0.8;
	background: var(--background-primary);
	border-radius: 50%;
}

/* Copy color button */
.VPP-copy-color-container {
	position: absolute;
	top: 100%;
	display: flex;
	cursor: pointer;
	gap: 5px;
}

.VPP-copy-color-label,
.VPP-copy-color {
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	line-height: 30px;
	transition: opacity 0.15s ease;
	opacity: 0.5;
	text-transform: uppercase;
}

.VPP-copy-color:hover {
	opacity: 1;
	text-decoration: underline;
}

.VPP-separator {
	line-height: 30px;
	opacity: 0.5;
	color: #fff;
}

.VPP-copy-color-label {
	text-transform: capitalize;
}

.VPP-hover {
	opacity: 0;
}

.VPP-container:hover .VPP-hover {
	opacity: 1;
}

.VPP-colorFormat-options {
	display: flex;
}

.VPP-colorFormat-options > div {
	flex: 1;
}


.downloadLink {
	color: white !important;
	font-size: 14px;
	font-weight: 500;
/*	line-height: 18px;*/
	text-decoration: none;
	transition: opacity.15s ease;
	opacity: .5;
}

.imageModalwrapper{
	display: flex;
	flex-direction: column;
}
.imageModalOptions{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 4px;

}