.tabs-container {
	min-width:0;
	gap:2px;
	position:relative;
	margin-right:auto;
	height:100%;
	-webkit-app-region: no-drag;
}

.new-tab{
	flex:0 0 auto;
	color: var(--interactive-normal);
	cursor: pointer;
	height: var(--space-32);
	width: var(--space-32);
}

.new-tab:hover {
	color: var(--interactive-hover);
}

.new-tab > svg{
	height: var(--chat-input-icon-size);
	width: var(--chat-input-icon-size);
}

.new-tab-div,
.tab-div{
	height:calc(var(--size) * .8);
	border: 1px solid #ccc5;	
}

.tab-div{
	margin: auto var(--tab-divider-size);
}

