.tabs-container {
	min-width:0;
	gap:2px;
	position:relative;
	margin-right:auto;
	height:100%;
	-webkit-app-region: no-drag;
}

.new-tab{
	flex:0 0 auto;
	padding:2px;
	aspect-ratio: 1;
	height:calc(100% * .8);
	color:white;
}

.new-tab:hover{
	background:var(--hover-tab-bg);
}

.new-tab:active{
	background:var(--active-tab-bg);
}

.new-tab-div,
.tab-div{
	height:calc(var(--size) * .8);
	border: 1px solid #ccc5;	
}

.tab-div{
	margin: auto var(--tab-divider-size);
}

.settings-dropdown{
	background-color: oklab(0.262384 0.00252247 -0.00889932);
	border-radius: 8px;
	gap: 5px;
	padding: 15px;
	overflow: auto;
	width:40vw;
	max-height: 80vh;
}


.settings-dropdown::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

.settings-dropdown::-webkit-scrollbar-track {
	background-color: var(--scrollbar-thin-track);
	border-color: var(--scrollbar-thin-track);
}

.settings-dropdown::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	background-color: var(--scrollbar-thin-thumb);
	border: 2px solid transparent;
	border-radius: 4px;
	min-height: 40px;
}

.settings-dropdown::-webkit-scrollbar-corner {
	background-color: transparent;
}

.settings-dropdown-btn{
	color:white;
	flex:0 0 auto;
	padding:2px;
	aspect-ratio:1;
	height:100%;
	color:#fff;
	cursor:pointer;
	-webkit-app-region: no-drag;
}

.settings-dropdown-btn:hover{
	color:#fffb;
}

.settings-dropdown-btn:active{
	color:#fff9;
}