.bookmarkbar {
	-webkit-app-region: no-drag;
	display: flex;
	flex: 0 0 auto;
	overflow: hidden;
	transform: translate(0);
}

.bookmarks-container {
	flex: 1 0 0;
	min-width: 0;
	overflow: hidden;
	display: flex;
	gap: 2px;
	-webkit-app-region: no-drag;
}

.bookmarks-overflow {
	flex: 0 0 auto;
	padding: 2px;
	color: white;
	color: var(--interactive-normal);
	aspect-ratio: 1;
	margin: 0 6px;
	z-index: 988;
	-webkit-app-region: no-drag;
}

.bookmarks-overflow > svg {
	height: var(--chat-input-icon-size);
	width: var(--chat-input-icon-size);
}

.bookmarks-overflow:hover {
	color: var(--interactive-hover);
}

.bookmarks-overflow-popout {
	display: flex;
	flex-direction: column;
	background-color: var(--background-tertiary);
	border-radius: 8px;
	gap: 5px;
	padding: 5px;
	overflow: auto;
	max-height: 50vh;
}

.bookmarks-overflow-popout::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

.bookmarks-overflow-popout::-webkit-scrollbar-track {
	background-color: var(--scrollbar-thin-track);
	border-color: var(--scrollbar-thin-track);
}

.bookmarks-overflow-popout::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	background-color: var(--scrollbar-thin-thumb);
	border: 2px solid transparent;
	border-radius: 4px;
	min-height: 40px;
}

.bookmarks-overflow-popout::-webkit-scrollbar-corner {
	background-color: transparent;
}
