.tabs-scroller {
	display: flex;
	min-width: 0;
	position: relative;
}

.tabs-list {
	display: flex;
	overflow: auto hidden;
	scrollbar-width: none;
}

.scrollBtn {
	background-color: #27272b;
	z-index: 99;
	position: absolute;
	top: 50%;
	translate: 0 -50%;
	color: var(--interactive-normal);
	cursor: pointer;
	height: var(--space-32);
	width: var(--space-32);
}

.scrollBtn:hover {
	color: var(--interactive-hover);
}

.scrollBtn > svg {
	height: var(--chat-input-icon-size);
	width: var(--chat-input-icon-size);
}

.left-arrow {
	left: 0;
}

.right-arrow {
	right: 0;
}
