#memUsage,
#console {
	position:fixed;
	top:2px;
	left:5px;
	z-index:999999;
	padding:5px;
	border:1px solid;
	border-radius:5px;
	text-transform: none;
	font-weight: bold;
	color:#a3a3a3aa;
	margin-left: 5px;
	cursor: pointer;
	font-size: 14px;
	font-family: "Noto Sans";
	pointer-events: auto;
	-webkit-app-region: no-drag;
}

#console:hover {
	text-decoration: underline;
	color: var(--text-normal);
}

.active {
	background: red;
}

[class^="repliedMessage"] .messageHeaderItem {
	display: none;
}

.messageHeaderItem {
	display: inline-block;
	font-weight: 500;
	margin: 0 0rem 0 0.5rem;
}

.shareButton:hover,
[class^="imageWrapper"]:hover ~ .shareButton {
	opacity: 1;
}

.shareButton {
	padding: 6px;
	border: 0;
	opacity: 0;
	z-index: 29;
	position: absolute;
	border-radius: 5px;
	bottom: 4px;
	left: 4px;
	color: #b8b9bf;
	background-color: #303338;
}

.small {
	line-height: 20px;
	font-weight: inherit;
	font-size: 1.01em;
	white-space: nowrap;
}

.listItemTooltip-eHcnUw {
	max-width: unset;
}

.channelMuteButton {
	display: none;
	cursor: pointer;
	position: relative;
	margin-left: 2px;
	color: var(--interactive-normal);
}

ul[aria-label="Channels"] > li[class*="selected"] .channelMuteButton, 
ul[aria-label="Channels"] > li:hover .channelMuteButton {
	display: block;
}

.channelMuteButton:hover {
	color: darkorange;
}

.channelMuteButton:active {
	color: orange;
}

.loadUnknownUser {
	background: #000;
	color: orange;
}

.perms-display{
	display: inline-flex;
	padding:5px;
	font-size:.8rem;
	border-radius:5px 5px 0 0;
	gap:5px;
	position:absolute;
	bottom:100%;
	right:16px;
	color:white;
	background: var(--background-tertiary);
}

.messageRoleHeader {
	display: inline-block;
	padding:1px 4px;
	border-radius: var(--radius-xs);
	background: #0003;
	border: 1px solid #fff1;
	font-family: var(--font-primary);
	font-size: 13px;
	line-height: 1.3333333333333333;
	font-weight: 500;
	margin: 0 0rem 0 0.25rem;
}

[class^="repliedMessage"] .messageRoleHeader {
	display: none;
}