.bookmark{
	justify-content:flex-start;
}

.bookmark:hover{
	background:#353333;
}

.bookmark:active{
	background:#353333;
}

.bookmark > .bookmark-title {
	color:#a7a7a7;
	font-size:calc(var(--size) * .6);
}


